html,
body,
.container-fluid {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 38px;
	margin: 0;
	padding: 0;
}

.cover-photo {
	opacity: 0.5;
}

.list-group {
	margin-bottom: 0;
}

.navbar-right {
	font-size: 14px;
	font-weight: 300;
	margin-right: 0px;
	padding: 20px 15px 20px 15px;
}

#app {
	display: none;
}

#login {
	margin: 60px auto 20px auto;
	max-width: 324px;
}

#logout {
	min-width: 373px;
	position: fixed;
	right: 20px;
	top: 526px;
	z-index: 2;
}

#map {
	height: 100%;
	z-index: 1;
}

#list {
	min-width: 373px;
	position: fixed;
	right: 20px;
	top: 100px;
	z-index: 2;
}

#search {
	min-width: 373px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 2;
}

@media (max-width: 413px) {

	#search-view {
		left: 20px;
	}

	#welcome-message {
		display: none;
	}
}

