html,
body,
.container-fluid {
	height: 100%;
	margin: 0;
	padding: 0;
}

.full-height {
	height: 100%;
}

.no-padding {
	padding: 0;
}

h1 {
	font-size: 38px;
	margin: 0;
	padding: 0;
}

#app {
	display: none;
}

#login {
	border-radius: 5px;
	margin: 60px auto 20px auto;
	max-width: 324px;
}

#map-container {
	z-index: 1;
}

#sidebar {

}

/* ------ Info Windows ------ */

.info-window {
	max-height: 240px;
	max-width: 360px;
}

/* ------ Info View ------ */

.list-group-item-heading {
	font-size: 16px !important;
}

.cover-photo {
	max-width: 100%;
	position: relative;
}

/* ------ List View ------ */

#list {
	min-width: 371px;
	padding: 0;
	z-index: 2;
}

.list-group {
	margin-bottom: 0;
}

.list-group-item {
	padding: 6px 0px 6px 8px !important;
}

.list-group-item:hover {
	background-color: rgb(233,185,206);
}

/* ------ Header ------ */

#search {
	height: 50px;
	margin-bottom: 0;
	min-width: 371px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.navbar-right {
	font-size: 14px;
	font-weight: 300;
	margin-right: 0px;
	padding: 20px 15px 20px 15px;
}

.toggle {
	padding-left: 4px;
}

.togglebutton {
	margin-top: 16px;
	padding-right: 16px;
}

/* ------ Footer ------- */
#footer {
	height: 50px;
}
#logout {
	border-radius: 5px;
}

