.arrow {
	background-color: white;
	border-radius: 50%;
	height: 100%;
	opacity: 0.87;
	width: 100%;
}

.arrow-wrap {
	height: 48px;
	padding: 12px 21px;
	position: absolute;
	right: 0;
	top: 0;
	width: 66px;
	z-index: 5;
}

.cover-outer-container {
	display: block;
	position: relative;
	max-width: 469px;
	width: 100%;
}

.cover-inner-container {
	overflow: hidden;
	position: relative;
	max-height: 169px;
	max-width: 469px;
	padding-bottom: 36%;
}

.cover-photo {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

.cover-scrim {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.38) 62%, rgba(0, 0, 0, 1));
	bottom: 0;
	height: 100%;
	left: 0;
	max-width: 720px;
	position: absolute;
	width: 100%;
	z-index: 3;
}

.events-container {
 	display: block;
 	margin-bottom: 96px;
 	width: 100%;
}

.info-view {
	background-color: white;
	bottom: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	display: block;
	left: 0;
	transform: translateX(-100%);
	overflow-y: auto;
  	position: absolute;
  	top: 48px;
  	max-width: 469px;
  	width: 100%;
  	z-index: 2;
}

.title {
	bottom: 0;
	color: rgba(255, 255, 255, 1);
	display: block;
	font-family: 'Roboto-Thin', sans-serif;
	font-weight: 100;
	font-size: 25px;
	letter-spacing: 1px;
	margin: 0;
	padding: 12px;
	position: absolute;
	z-index: 4;
}

.upcoming-events {
	color: rgba(0, 0, 0, 0.54);
	display: block;
	font-family: 'Roboto-Regular', sans-serif;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 0;
	padding: 12px;
}

@keyframes animateInfoRight {
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}

@keyframes animateInfoLeft {
	from { transform: translateX(0); }
	to { transform: translateX(-100%); }
}

.info-animate-right {
	animation-name: animateInfoRight;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}

.info-animate-left {
	animation-name: animateInfoLeft;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}
