.login-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.login-inner {
    display: block;
    height: 100%;
	margin: 0 auto;
    max-height: 1000px;
    max-width: 1024px;
	position: relative;
    width: 100%;
}
.login-title {
    display: block;
    margin: 1em auto 0 auto;
    padding: 0 0.17em;
    text-shadow: 0.1em 0.1em 0.38em black;
    width: 300px;
}
.login-title:hover {
    cursor: pointer;
}
.fb-auth {
    display: block;
    font-family: 'Assistant';
    font-weight: 400;
    font-size: 1em;
    margin: 0 auto;
    max-height: 0;
    max-width: 95%;
    overflow: hidden;
}
.fb-auth-icon {
    display: block;
    margin: 0 auto;
	padding: 0;
    width: 96px;
}
.fb-auth-icon:hover {
	cursor: pointer;
}

@keyframes loginOpen {
    from { max-height: 0; }
    to { max-height: 1000px; }
}

@keyframes loginClose {
    from { max-height: 1000px; }
    to { max-height: 0; }
}

.login-open {
    animation-name: loginOpen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.login-close {
    animation-name: loginClose;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
