.login-view {
	background: url("../../public/images/jimedine_carcrash.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.login-inner {
    display: block;
    height: 100%;
	margin: 0 auto;
    max-height: 1000px;
    max-width: 1024px;
	position: relative;
    width: 100%;
}
.login-title {
	color: rgba(255, 228, 0, 0.87);
    background-color: rgba(17, 17, 17, 0.87);
    bottom: 0.17em;
    border: 1px solid rgba(255, 255, 255, 0.38);
    border-radius: 0.1em;
    display: block;
	font-family: 'Heebo'; /* Heebo, Assistant */
    font-weight: 700;
	font-size: 4em;
    left: 0;
    margin: 0 auto;
    padding: 0 0.17em;
    position: absolute;
    right: 0;
    text-shadow: 0.1em 0.1em 0.38em black;
    width: 300px;
}
.login-title:hover {
    cursor: pointer;
}
.fb-auth {
	background-color: rgba(17, 17, 17, 0.87);
    border-radius: 0.2em;
	border: 1px solid rgba(255, 255, 255, 0.38);
    color: rgba(255, 255, 0, 0.62);
    font-family: 'Assistant';
    font-weight: 400;
    font-size: 1em;
    left: 0;
    margin: 0 auto;
    max-width: 95%;
    padding: 1.61em 1.61em 3.22em 1.61em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
}
.fb-auth-icon {
    display: block;
    left: 0;
    margin: 0 auto;
	padding: 0;
    position: absolute;
    right: 0;
    width: 96px;
}
.fb-auth-icon:hover {
	cursor: pointer;
}

@keyframes loginOpen {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes loginClose {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}

.login-open {
    animation-name: loginOpen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.login-close {
    animation-name: loginClose;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
