.login-view {
	background: url("../images/statues.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
}
.login-inner {
    display: block;
    height: 100%;
	margin: auto auto;
    max-height: 768px;
    max-width: 1024px;
	position: relative;
    width: 100%;
}
.login-title {
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 0.1em;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.62);
	color: #e1e400;
	font-family: 'Assistant'; /* Heebo, Assistant */
    font-weight: 400;
	font-size: 3em;
    padding: 0 0.38em;
    position: absolute;
    left: 0.38em;
    bottom: 0.38em;
    text-shadow: 0.01em 0.01em 0 black;
    z-index: 3;
}
.fb-auth {
	background-color: rgba(0, 0, 0, 0.17);
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.62);
	border: 0;
    padding: 1.61em;
	text-align: center;
	z-index: 3;
}
.fb-auth-icon {
	padding: 0;
    width: 96px;
}
.fb-auth-icon:hover {
	cursor: pointer;
}


