/* ------ Footer View ------ */
.footer-view {
	box-shadow: 0 -3px 5px 0 rgba(0,0,0,0.16);
	color: white;
	height: 56px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 4;
	background-color: #e57373;
	background-image: -webkit-linear-gradient(left, #e57373 , #f48fb1);
}

.trigger-wrap {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	height: 56px;
	width: 56px;
	padding: 4px;
	position: absolute;
	left: 4px;
	bottom: 28px;
}

.trigger-up,
.trigger-down {
	box-shadow: 0 -3px 5px 0 rgba(0,0,0,0.16);
	background-color: #e57373;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.footer-info {
	color: rgba(0, 0, 0, 0.68);
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	position: absolute;
	right: 4px;
	bottom: 19px;
	width: 100%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 768px) {

	.footer-info {
		font-size: 20px;
		letter-spacing: 2px;
		bottom: 18px;
	}

	.trigger-wrap {
		width: 66px;
		height: 66px;
		left: 30px;
		bottom: 70px;
	}
}

@media only screen and (max-width: 500px) {
	.footer-info {
		font-size: 16px;
		bottom: 20px;
	}
}

@media only screen and (max-width: 400px) {
	.footer-info {
		font-size: 12px;
		left: 4px;
		bottom: 22px;
	}
}

@media only screen and (max-width: 320px) {
	.footer-info {
		font-size: 12px;
		left: 4px;
		bottom: 12px;
	}
}