/* ------ Info View ------ */

#info-view {
	background-color: white;
  	position: absolute;
  	left: 0;
  	right: 0;
  	z-index: 2;
  	top: 100%;
  	bottom: -100%;
}

.general-info {

}

.about-app {

}

.list-group-item-heading {
	font-size: 16px !important;
}

.cover-photo {
	max-width: 100%;
}

@keyframes animateInfoUp {
	from { top: 100%; bottom: -100%; }
	to { top: 48px; bottom: 56px; }
}

@keyframes animateInfoDown {
	from { top: 48px; bottom: 56px; }
	to { top: 100%; bottom: -100%; }
}

.info-animate-up {
	animation-name: animateInfoUp;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.info-animate-down {
	animation-name: animateInfoDown;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

