/* ------ List View ------ */

.list-view {
	min-width: 371px;
	padding: 0;
	position: absolute;
	top: 50px;
	z-index: 2;
}

.list-group {
	margin-bottom: 0;
}

.list-group-item {
	padding: 6px 0 6px 8px !important;
}

.list-group-item:hover {
	background-color: rgb(233,185,206);
}