/* ------ List View ------ */
.list-view {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: white;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid rgba(0, 0, 0, 0.14);
	box-shadow: 0 6px 5px 0 rgba(0,0,0,0.16);
	left: 0;
	padding-top: 48px;
	max-height: 100%;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	transform: translateY(-100%);
	width: 320px;
	z-index: 4;
}

.list-group {
	margin-bottom: 0;
}

.list-group-item {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	height: 48px;
	padding: 12px 0 12px 16px;
}

.list-group-icon {
	margin-right: 8px;
	opacity: 0.38;
	width: 24px;
}

.list-group-text {
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	letter-spacing: 1px;
	opacity: 0.87;
	vertical-align: super;
}

.list-group-item:hover {
	background-color: #e5f0fc;
}

.logout-wrapper {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	height: 48px;
	width: 48px;
	padding: 4px;
}

.logout-icon {
	width: 100%;
	height: 100%;
}

@keyframes listOpen {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}

@keyframes listClose {
	from { transform: translateY(0); }
	to { transform: translateY(-100%); }
}

.list-animate-open {
	animation-name: listOpen;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.list-animate-close {
	animation-name: listClose;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}