/* ------- Login View ----- */

.login-view {
	background-color: #ff1744;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background-image: radial-gradient(circle, #b3e5fc 7%, #f8bbd0 99%);
}

.login-inner {
	max-width: 666px;
	width: 86%;
	margin: 0 auto;
	height: 100%;
	display: block;
	position: relative;
}

.login-a, .login-b, .login-c {
	color: white;
	display: block;
}

.login-a {
	text-transform: lowercase;
	font-family: 'Alegreya', serif;
	font-size: 3.9em;
	letter-spacing: 0.23em;
	position: absolute;
	left: 12%;
	top: 15%;
	transform: translate();
	z-index: 3;
	text-shadow: 3px 3px 3px #5b0005;
}

.login-b {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.8em;
	font-weight: bold;
	letter-spacing: 0.24em;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -55%);
	z-index: 2;
	text-shadow: -110px 76px 0 #c3000a,
				 -28px -85px 0 #f56168,
				 135px 54px 0 #fcbcbf;
}

.login-c {
  	font-family: 'Norican', cursive;
  	font-size: 3.9em;
  	position: absolute;
  	right: 12%;
  	bottom: 23%;
  	z-index: 3;
  	text-shadow: -3px 3px 3px #5b0005;
}

.fb-auth {
	background-color: transparent;
	border: 0;
	color: rgba(0, 0, 0, 62);
	font-size: 16px;
	letter-spacing: 2px;
	padding: 0;
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	width: 270px;
	z-index: 3;
}

.fb-auth-icon {
	height: 57px;
	width: 57px;
	padding: 0;
	margin-left: 6px;
}

.fb-auth-icon:hover {
	cursor: help;
	opacity: 86%;
}