.login-view {
	background-color: #e5f0fc;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
}
.login-inner {
	width: 94%;
	margin: 0 auto;
	height: 100%;
	display: block;
	position: relative;
}
.login-title {
	color: white;
	font-family: 'Roboto-Light';
	font-size: 3em;
	line-height: 1.61em;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -32%);
	z-index: 3;
	text-shadow: 3px 3px 3px #5b0005;
}
.fb-auth {
	background-color: transparent;
	border: 0;
	color: rgba(0, 0, 0, 0.62);
	font-size: 16px;
	letter-spacing: 2px;
	padding: 0;
	position: absolute;
	top: 85%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	width: 270px;
	z-index: 3;
}
.fb-auth-icon {
	padding: 0;
}
.fb-auth-icon:hover {
	cursor: pointer;
	opacity: 86%;
}


