@import 'https://fonts.googleapis.com/css?family=Alegreya|Montserrat|Norican';

@font-face {
  font-family: 'Roboto-Light';
  src:  url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Thin';
  src:  url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Bold';
  src:  url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Medium';
  src:  url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}

html,
body,
.app {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.display-none {
  display: none;
}